
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'kimi-header';
    src: url('BILLO___.TTF') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.padding-x {
    padding-left: 1rem; /* 16px if the root font-size is 16px */
    padding-right: 1rem; /* 16px if the root font-size is 16px */
}

.padding-y {
    padding-top: 0.5rem; /* 8px if the root font-size is 16px */
    padding-bottom: 0.5rem; /* 8px if the root font-size is 16px */
}

@media (min-width: 640px) { /* sm: breakpoint */
    .padding-x {
        padding-left: 1.5rem; /* 24px if the root font-size is 16px */
        padding-right: 1.5rem; /* 24px if the root font-size is 16px */
    }
    .padding-y {
        padding-top: 0.75rem; /* 12px if the root font-size is 16px */
        padding-bottom: 0.75rem; /* 12px if the root font-size is 16px */
    }
}

@media (min-width: 1024px) { /* lg: breakpoint */
    .padding-x {
        padding-left: 5rem; /* 80px if the root font-size is 16px */
        padding-right: 5rem; /* 80px if the root font-size is 16px */
    }
}

.max-w-screen-lg {
    max-width: 1024px; /* max-width */
    margin-left: auto;
    margin-right: auto;
  }